.map_div{
	position:fixed;
	left:0px;
	width:100%;
	overflow:auto;
	position:absolute;
	margin:0;
	background:#333333;
}
#wrap{
	padding-bottom:0;
	padding-top:20px;
}
#gimu_footer{
	position:absolute;
	width:100%;
}
