.gearB{
	top: 85px;
	right:5px;
}
.icon{
	height:17px;
}
.icon_cell{
	width:25px;
	text-align:center;
}
.ol-control.ol-zoom{
	right:5px;
}

.ol-control button {
	background-color: rgba(0, 0, 0, 0.75);
}

.ol-control button:focus, .ol-control button:hover {
	background-color: rgb(20, 78, 101);
}
